.past-scores {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.past-scores-table {
  border-collapse: collapse;
  width: 100%;

  text-align: center;
  tr {
    border-bottom: 1px solid var(--darkest);
  }
  tr.total-score-line {
    border-bottom: none;
  }
  td,
  th {
    padding: 9px 0;
  }

  @media screen and (min-width: 769px) {
    font-size: 1.15rem;
  }
}
