.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  max-width: 800px;
  margin: auto;
}

.account-options {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  gap: 20px;

  @media screen and (min-width: 769px) {
    flex-direction: row;
  }
}

