* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  /* variables */
  --tan: #fff6e6;
  --faint: #9e88a5;
  --primary: #ff204d;
  --alt: #ffd5c3;
  --darkest: #643a71;

  font-family: Exo, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: auto;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--darkest);
  background-color: var(--tan);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}
body.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  font-size: 2em;
}

a {
  color: var(--faint);
}

/* Button styling */

.navlink > a,
button,
.button-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  border-radius: 8px;
  font-size: 1.2rem;
  font-family: inherit;
  font-weight: 400;
  color: var(--label-color);
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  cursor: pointer;
  transition: all 0.15s;

  text-decoration: none;
}
button:not(:disabled):hover,
.button-link:hover {
  background-color: var(--background-hover-color);
  color: var(--label-hover-color);
  border-color: var(--border-hover-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:disabled {
  cursor: default;
  opacity: 0.4;
}

button.filled,
.button-link.filled {
  --label-color: white;
  --background-color: var(--primary);
  --border-color: transparent;
  --background-hover-color: #cc1a3e;
  --label-hover-color: var(--tan);
}

button.filled-alt,
.button-link.filled-alt {
  --label-color: white;
  --background-color: var(--darkest);
  --border-color: white;
  --background-hover-color: #46294f;
  --label-hover-color: var(--tan);
}

button.outlined,
.button-link.outlined {
  --label-color: var(--darkest);
  --background-color: transparent;
  --border-color: var(--darkest);
  --label-hover-color: var(--primary);
  --border-hover-color: var(--primary);
  --background-hover-color: white;
}

hr {
  border-color: var(--darkest);
  width: 100%;
}

ol {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

/* inputs don't inherit font unless explicit */
input,
textarea,
select {
  font-family: inherit;
}

/* @media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
} */

div.not-found {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;

  h2 {
    font-size: 1.7rem;
  }
  p,
  a {
    font-size: 1.25rem;
  }
}

.home-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90dvh;
  gap: 18px;
  padding: 12px;

  max-width: 500px;
  margin: auto;
  @media screen and (min-width: 769px) {
    gap: 35px;
    max-width: 700px;
    
    a.button-link {
      font-size: 2rem;
      height: 70px;
    }
  }
}
