header {
  --navbar-height: 80px;
  height: var(--navbar-height);
  border-bottom: 1px solid var(--darkest);
}

nav {
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

/* hamburger icon */
button.menu-toggle {
  width: min-content;
  color: var(--primary);
  @media screen and (min-width: 769px) {
    display: none;
  }
}
/* x icon */
ul.open .menu-toggle {
  color: var(--tan);
}

ul {
  display: flex;
  gap: 18px;
  list-style-type: none;
}

/* only applies on mobile */
ul.open,
ul.closed {
  .navlinks-container {
    position: fixed;
    flex-direction: column;
    top: 0;
    padding: 5px 20px;

    align-items: end;
  }
}

ul.closed .navlinks-container {
  right: -100%;
}
ul.open .navlinks-container {
  right: 0;
  background-color: var(--primary);
  border-radius: 12px 0 0 12px;
}

.navlinks-container {
  display: flex;
  align-items: end;
  gap: 18px;

  width: 80%;
  height: 100%;

  transition: 0.3s ease-out;

  z-index: 500;
}

.open .navlink {
  background-color: var(--tan);
  border-radius: 8px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    color: var(--primary);
  }

  &:has(.active) {
    a {
      color: var(--darkest);
    }
  }

  &:hover {
    background-color: white;
  }
}

#overlay {
  z-index: 499;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
