/* Hex values:
tan: #F1DAC4
faint purple: #A69CAC
bright purple: #474973
dark purple: #161B33
darkest purple: #0D0C1D */

header {
    background-color: #474973;
    display: flex;
    width: 100%;
    padding: 1rem;
}

section.instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 500px;
    margin: 120px auto;
    gap: 20px;
}

section.instructions h2 {
    font-size: 2.4rem;
    line-height: 0;
}

/* Game component */

section.game-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

span.score {
    position: absolute;
    align-self: flex-end;
    margin-right: 170px;
    top: 140px;
    font-size: 1.8rem;
    font-variation-settings: "slnt" -10;
}

/* Artist Cards */

div.artist-cards-container {
    display: flex;
    width: 100%;
    padding-inline: 15vw;
    justify-content: space-evenly;
    text-align: center;
}

div.artist-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.artist-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1dac4;
    border-radius: 7px;
    border: solid 6px #f1dac4;
    width: 380px;
    height: auto;
    position: relative;
}

span.artist-name {
    width: 100%;
    text-align: center;
    background-color: #0d0c1d;
    font-size: 1.4rem;
    color: white;
    padding: 6px;
}

div.artist-info > input.artist-search-input {
    width: 100%;
    text-align: center;
    padding: 10px;
    border: none;
    font-size: 1.4rem;
    background-color: #f1dac4;
    color: #0d0c1d;
    &:focus {
        outline: none;
    }
}

div.artist-info > img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
div.artist-info > .artist-image-placeholder {
    width: 100%;
    height: 200px;
    background-color: #474973;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    color: white;
}

span.popularity-score {
    text-align: center;
    font-size: 1.6rem;
    color: #0d0c1d;
    padding: 6px;
}

/* SearchResultsspan */
div.search-results-list {
    position: absolute;
    top: 45.5px;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 230px;
    justify-content: space-evenly;
}

span.search-result {
    font-size: 1.4rem;
    color: white;
    background-color: #0D0C1D;
    border-radius: 7px;
    padding: 4px;
    text-align: center;
    width: 100%;
    &:hover,
    &.active {
        background-color: #160abf;
        color: white;
    }
}

.post-guess-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 300px;
    gap: 10px;
}

.reset-button {
    background-color: transparent;
    border: 1px solid #474973;
    width: 100%;
}

.submit-guess-button {
    width: 100%;
    font-size: 1.5rem;
    background-color: #474973;
}

.next-round-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    border: 1px solid #474973;
}