* {
	box-sizing: border-box;
}

:root {
	/* variables */
	--white: #ffffff;
	--tan: #f1dac4;
	--faint-purple: #a69cac;
	--bright-purple: #474973;
	--darkest: #0d0c1d;

	font-family: Geologica, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: var(--darkest);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3em;
	line-height: 1.8rem;
	@media screen and (max-width: 768px) {
		font-size: 2.5em;
		line-height: 0;
	}
}

button {
	display: block;
	margin: 0 auto;
	border-radius: 6px;
	padding: 0.6em 1.2em;
	font-size: 1.2rem;
	font-weight: 500;
	font-family: inherit;
	color: white;
	cursor: pointer;
	transition: border-color 0.15s;
	background-color: transparent;
	border: 1px solid var(--bright-purple);
}
button:not(:disabled):hover {
	border-color: var(--tan);
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}
button:disabled {
	cursor: default;
}

hr {
	width: 80%;
	border-color: var(--faint-purple);
}

ol {
	display: flex;
	flex-direction: column;
	gap: 0.7rem;
	font-size: 1.2rem;
	line-height: 1.6rem;
}

/* @media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
} */

header {
	background-color: var(--bright-purple);
	display: flex;
	width: 100vw;
	padding: 1rem;
	justify-content: space-between;
	@media screen and (max-width: 768px) {
		padding: 0.5rem;
	}
}

header a {
	line-height: 0;
}

img.header-logo {
	@media screen and (max-width: 768px) {
		width: 140px;
	}
}

div.user-pages {
	display: flex;
	gap: 20px;
	align-items: center;
}

div.not-found {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	font-size: 2rem;
}