.accordion-parent {
  width: 100%;
  padding-inline: 25px;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.accordion button.toggle {
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding: 0px 15px;
  transition: all 0.15s ease;
  cursor: pointer;
  width: 100%;
  height: 46px;
  color: white;

  @media screen and (min-width: 769px) {
    font-size: 1.15rem;
  }
}

.arrow {
  transition: all 0.2s ease;
}
.arrow.active {
  rotate: 180deg;
}

.accordion .content-parent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease-out;
}

.accordion.toggled .content-parent {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}

.accordion .content {
  padding: 15px 10px;
}
